*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* page one */
nav{
    height: 10vh;
    background-color: #007bff;
    text-align: center;

  align-content: center;
}
nav h1{
    font-size: 1.4rem;
    color: #333333;

}
main{
    height: 60vh;
    width: 100%;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    border-bottom: 8px solid #ccc;
    
}
main h1{
    width: 70%; 
    font-size: 6vw; 
    
    margin-left: 7vw;
    color: #007bff;
    font-family: monospace;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(15), cursor .6s step-end infinite alternate;
}


/* Cursor animation */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

/* Animation for typing */
@keyframes typing {
    from {
        width: 0;
    }

}
main p{
    font-size: 0.9rem;
    margin:0 7vw;
    color: #333333;
}
/* page two */
.page2{
    height: 60vh;
    width: 100%;
    background: #f9f9f9;
    border-bottom: 8px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.generat{
    display: flex;
     flex-direction: column;
     /* padding-left: 10vh;   */
     gap: 3vh;


}
.text-inp input[type="text"]{
    min-width: 200px;
    width: 20vw;
    height: 5vh;
    background-color: #ffffff;
    border: 2px solid #ccc;
    outline: none;
   padding-left: 2vh;
    font-size: 0.7rem;
}
::placeholder{
    font-size: 0.6rem;
}
.generat label{
    font-size: 0.9rem;
    color: #333333;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row input[type="checkbox"]{
   outline: 0;
   border: 0;    
   color: #000;
   border: 2px soldi #fff;
   background-color: #fff;
}
.generat button, #submit{
    font-size: 1rem;
    padding: 1vh;
    border:2px solid #ccc;
    color: #fff;
    background-color: #007bff;
    border-radius: 10px;
    transition: all 0.33s ease;

}
.generat button:hover, #submit:hover{
    background-color: #0056b3;
    color: beige;
    box-shadow: 1px 2px 3px black;

}
/* page three */
.page3{
height: 100vh;
width: 100%;
background-color: #f9f9f9;
}

section{
    width: 40%; 
    height: 16vh;
    font-size: 5vw; 
    margin-left: 7vw;
    color: #007bff;
    font-family: monospace;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(15), cursor .6s step-end infinite alternate;
}

.infomation{
    height: 60vh;
    width: 100%;
    padding:0 7vh;
    margin-top: 7vh;
    border-radius: 16px;
    display: flex;
    gap: 7vh;
   justify-content: space-evenly;

}

.infomation form{
    width: 38%;
    height: 100%;
    border: 2px solid #ccc;
    display: flex;
    box-shadow: 4px 3px 30px #ccceee;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.animation-from{
    animation: shake 0.2s linear 2;

}
@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    33%{
        transform: translateX(-20px);
    }
    66% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}
.infomation h1{
    font-size: 1.5rem;
    color: #333333;
    
}

.infomation h1 span{
    border-bottom: 2px solid #007bff;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
}
.input-group:nth-child(2){
    margin-top: 4vh;
}
.input-group label{
    flex-basis: 28%;
    font-size: 0.9rem;
    margin-left: 5vh;
}
.input-group input{
    flex-basis: 58%;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccceee;
    padding: 2vh 0;
    color:#333333 ;
    font-size: 1rem;
}
#submit{
    margin-top: 2v;
    width: 10vw;
 

}
.right{
    height: 100%;
    width: 60%;
    border: 2px solid #ccc;
    display: flex;
    box-shadow: 4px 3px 30px #ccceee;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
   
}
.right table{
    margin-top: 2vh;
    border: 3px solid #ccceee;
    width: 90%;
    text-align: center;
}

.right table th{
    font-size: 0.9rem;
    border-right: 2px solid #ccceee;
    border-bottom: 2px solid #ccceee;
  
}
.right table th:last-child{
    border-right: 0;
}
.right table td{
     font-size: 0.7rem;
     border-right: 2px solid #ccceee;
}
.right table td:last-child{
    border-right: 0;
    font-size: 1rem;
    transition: all 0.4s ease;
    cursor: pointer;
}
.right table td:last-child:hover{
    background-color: red;
    border-radius: 2px;
    padding: 1px;
}